/* nav에 적용될 style클래스 */

.normalLink {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
  color: #222;
}

.normalLink:hover {
  color: #22b8cf;
}

.normalLink::after {
  content: "|";
  display: inline-block;
  padding: 0 7px;
  color: #ccc;
}

.normalLink:last-child::after {
  color: #fff;
}

.active {
  border-bottom: 2px solid #22b8cf;
  color: #22b8cf;
}

.active::after {
  border-bottom: 4px solid #fff !important;
}
