#content{
     width: 300px;
     margin: auto;
     /* 기준이 되는 부무태그가 뭐지??? */
     font-size: 0.8em;
     line-height: 150%;
     margin-bottom: 15px;
 }
 #content h2{
     height: 90px;
     background: url(../../demo02/img/top_bc.jpg) no-repeat;
     margin-top: 15px;
     text-indent: -10000px;
 }
 #content h3{
     width: 300px;
     height: 35px;
     background: #f60;
     font : bold 1.2em/35px 'Helvetical';
     color: #fff;
     margin-bottom: 5px;
     text-align: center;
 }
 #content p.right{
     text-align: right;
     margin-bottom: 5px;
 }
 #content p.right img{  
     vertical-align: middle;
 }
 #content table caption{
     display: none;
 }
 #content table thead td{
     width: 100px;
 }
 #content table th, #content table td{
     border-bottom: 1px solid #999;
     text-align: center;
 }
 #content table img{
     vertical-align: middle;
     margin-right: 3px;
 }