body{
    background: #46464d url(../img/top_bg2.png) repeat-x;
}
#header{
    width: 318px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}
#header h1{
    background: url(../img/top_bg.png) no-repeat;
    width: auto;
    height: 85px;
    text-indent: -10000px;
    margin-bottom: 15px;
}
#header li{
    display: inline;
    padding: 0 3px;
}

#content{
    background: url(../img/list_bg.png) repeat;
    width: auto;
    height: 184px;
}

#content ul{
    background: url(../img/menu.png) no-repeat;
    width: auto;
    height: 184px;
}
#content ul li{
    width: auto;
    height: 46px;
    background: url(../img/list_right.png) right center no-repeat;   
}
#content ul li a{
    display: block;
    width: auto;
    height: 45px;
    text-indent: -10000px;
    cursor: pointer;
}