//**********common style********************
$mainColor: #1E3932;
$navBackColor: #2C2A29;
$fontSizeBasic : 15px;
$fontSizeSmall : 10px;

*li{
   list-style: none; 
}
*a{
    text-decoration: none;
    color: inherit;
}



footer{


}//footer end




