//**********common style********************
$mainColor: #1e3932;
$navBackColor: #2c2a29;
$fontSizeBasic: 15px;
$fontSizeSmall: 10px;

*li {
  list-style: none;
}
*a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  &:hover {
    text-decoration: underline;
  }
}
